<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.callor.app.persistance.BoardDao">


	<select id="selectAll" resultType="BoardVO">
		SELECT * FROM tbl_Board
	</select>	


	<select id="findByNumber" resultType="BoardVO">
		SELECT * FROM tbl_board
		WHERE b_num = #{b_num}
	</select>

	<insert id="insert" parameterType="BoardVO">
		INSERT INTO tbl_board
		(
			b_num,
			b_title,
			b_hit,
			b_content,
			b_writer,
			b_date
		)VALUES(
		    b_num.NEXTVAL,
			#{b_title},
			#{b_hit},
			#{b_content},
			#{b_writer},
			#{b_date}
		)
	</insert>

	<update id="update" parameterType="BoardVO">
		UPDATE tbl_board SET
			b_num 	  = #{b_num},
			b_title   = #{b_title},
			b_hit	  =	#{b_hit},
			b_content = #{b_content},
			b_writer  =	#{b_writer},
			b_date	  =	#{b_date}

		WHERE b_num = #{b_num}
	</update>
	
	<delete id="delete">
 		DELETE FROM tbl_board WHERE b_num = #{b_num}
 	</delete>

</mapper>